.workflow-canvas {
  width: 100%;
  height: 100%;
  background: #0f0f13;
  position: relative;
}

.workflow-canvas__empty {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #555;
  font-size: 15px;
  text-align: center;
  padding: 2rem;
}
