.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.app__body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.app__canvas {
  flex: 1;
  overflow: hidden;
}
